<%- include('../partials/header') %>



<div class="container">
    <h1>Add A New Location</h1>
    <form action="/locations" method="POST">
        <label for="name">Location Name: </label>
        <input type="text" name="name">
        <br>
        <label for="lat">Latitude: </label>
        <input type="number" step="any" name="lat">
        <br>
        <label for="long">Longitude: </label>
        <input type="number" step="any" name="long">
        <br>
        <input type="submit" value="Add Location">
    </form>
</div>


<%- include('../partials/footer') %>


